.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 150vh;
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Arial;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, red, yellow);
  font-size: 50px;
}
.game {
  width: 100vw;
  height: 800px;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.board {
  width: 450px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 4px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 3px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial;
}

#correct {
  background-color: rgb(6, 172, 6);
}

#almost {
  background-color: rgb(216, 216, 7);
}

#error {
  background-color: rgb(63, 62, 62);
}

.keyboard {
  width: 800px;
  height: 200px;
  margin-top: 30px;
}

.line-one {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 4px;
}
.line-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4px;
}
.line-three {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.cell {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-family: Arial;
  cursor: pointer;
}

#big {
  width: 100px;
}
#disabled {
  background-color: #3a393c;
}
